@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("Header")
<body>
    <section>
        <form asp-controller="Home" asp-action="Test" method="post">
            <input type="text" />
            <input type="submit" value="Submit" />
        </form>
</section>
</body>