<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/css/ChatStyle.css" type="text/css" rel="stylesheet" />
    <script src="~/js/ChatBot.js"></script>
</head>
<body>
    @Html.Partial("Header")
    <section>
        <input type="text" class="josephine" />
        <input type="button" value="Send" onclick="SendToAPI()" />
    </section>
    <section id="chatBot">
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message" onkeydown="SendToAPI()"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>