<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="~/css/ChatStyle.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        var culture = '@ViewBag.lg';
        var phGlobal = '@ViewBag.Ph';
    </script>
    <script src="~/js/ChatBot.js"></script>
</head>
<body>
    <div id="page">
        <center>
            @Html.Partial("Header")
            <section>
                @*<input type="button" value="Reset Chat" onclick="resetChat()" />*@
            </section>
            <section id="chatBot">
                <div class="col-12 col-md-10 col-lg-8 frame">
                    <ul></ul>
                    <div>
                        <div class="msj-rta macro" style="margin:auto">
                            <div class="text text-r">
                                <input class="mytext" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                @*<div>
                    <input type="button" value="Simulation Chat" onclick="testChat()" />
                </div>*@
            </section>
        </center>
    </div>
</body>
</html>
