
@{
    ViewData["Title"] = "Test";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/send.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/css/site.css" type="text/css" rel="stylesheet" />

<div id="main" class="container">
    <h2>Test</h2>
    <div class="row">
        <input id="textVal" class="input-sm" name="SendTest" type="text" value="" placeholder="@ViewBag.Ph" />
        <input id="submitBtn" class="btn-default" name="Submit" type="button" value="Send"/>
    </div>
</div>